.mobile-header-row > .row_inner_wrapper > .row_inner > .first {
  width: 40% !important;
}

.mobile-header-row > .row_inner_wrapper > .row_inner > .last {
  width: 60% !important;
}

#image-12-8-3-0 {
  padding: 15%;
}

#themify_builder_content-24023 > div.themify_builder_row.themify_builder_24023_row.module_row.module_row_1.module_row_24023-1.clearfix.gutter-default.col_align_middle.fullcover.fullwidth > div.row_inner_wrapper > div > div.col3-1.middle.tb-column.module_column.tb_24023_column.module_column_1.module_column_24023-1-1 {
  width: 51%;
}
