.mobile-header-row > .row_inner_wrapper > .row_inner > .first {
  width: 40% !important;
}

.mobile-header-row > .row_inner_wrapper > .row_inner > .last {
  width: 60% !important;
}

#image-12-8-3-0 {
  padding: 15%;
}
